<table width="1080"><tbody><tr style="height: 18px;"><td style="height: 18px; text-align: left;" width="156"><span style="color: #ff0000;">الاسم /</span></td><td style="height: 18px; text-align: left;" width="173"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px; text-align: left;" width="181"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px; text-align: left;" width="245"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px; text-align: left;" width="325"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #ff0000;">الكود الوظيفي /&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #ff0000;">الاداره /</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #ff0000;">التاريخ /&nbsp;
</span></td><td style="height: 18px; text-align: justify;"><span style="color: #00ff00;"><span style="color: #00ff00;"><span style="color: #0000ff;">10/14/2020</span></span></span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="text-align: justify; height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 36px;" rowspan="2"><span style="color: #0000ff;">المبلغ&nbsp;
</span></td><td style="height: 18px;" colspan="2"><span style="color: #0000ff;">الجهه</span></td><td style="height: 36px;" rowspan="2"><span style="color: #0000ff;">سبب الانتقال&nbsp;
</span></td><td style="height: 36px;" rowspan="2"><span style="color: #0000ff;">ملاحظات&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">من&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">الي&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 28px; text-align: left;"><td style="height: 28px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 28px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 28px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 28px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 28px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr><tr style="height: 18px; text-align: left;"><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td><td style="height: 18px;"><span style="color: #0000ff;">&nbsp;
</span></td></tr></tbody></table>